
<div class='stripe3'>
  <h2>I'M A RAILS DEVELOPER</h2>

</div>


<div class='skills'>
   <hr />
  <p>I have a background in design, digital media and architecture (buildings, not software). I'm currently in a twelve week web immersion course at General Assembly, New York.</p>
  <p>Knowledge:
  <br> Ruby on Rails | HTML 5 | CSS 3 | RSpec | AJAX | Ruby
  <br>
APIs
<br>Git | Heroku | Twitter Bootstrap | ZURB Foundation | Twilio
<br>
Ruby Gems:
<br>pg | pry-rails | pry-debugger | rspec | nokogiri | httparty | yahoofinance
<br>
Design:
<br>Adobe Creative Suite</p>

</div>






